
/node_modules
/auth_session
/.env
system.db
system.db-shm
system.db-wal
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store
.idea
.vscode
*.iml
dist
build
coverage
*.tsbuildinfo
*.map
*.zip
*.tar.gz
*.bak
*.tmp
*.swp
*.swo
*.log
*.pid
*.seed
*.backup
*.orig
*.rej
*.gz
*.7z
*.rar
*.exe
*.dll